@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-5">Welcome To CQRSBookstore</h1>
    <h4 class="display-6">The first leading bookstore in Australia</h4>
</div>
