@model CQRSBookstore.UI.Contracts.Account.LoginRequest;

@{
    ViewData["Title"] = "Login";    
}

<div class="d-flex justify-content-center">
<form class="card" style="min-width: 500px;" method="post">
  <h3 class="text-center card-header">Login</h3>
  <div class="card-body">
  <div class="mb-3">
    <label for="email" class="form-label" >Email address</label>
    <input type="email" name="email"  id="email" class="form-control" value="johndoe123@gmail.com"/>
  </div>
  <div class="mb-3">
    <label for="password" class="form-label" >Password</label>
    <input type="password" name="password"  id="password" class="form-control" value="johndoe" />
  </div>
  <div class="mb-3 form-check">
    <input type="checkbox" class="form-check-input" id="exampleCheck1">
    <label class="form-check-label" for="exampleCheck1">Remember me!</label>
  </div>
  <div>
    <input type="submit" value="Submit" class="btn btn-primary" />
    <a class="btn btn-light" asp-controller="register" asp-action="">Register</a>
  </div>
  </div>
</form>
</div>